.header {
  color: white;
}
.header__top {
  background-color: #ef172a;
}
.header__top__container {
  height: 76px;
  min-height: 76px;
  max-height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top__container .logo-container {
  width: 300px;
}
.header__top__container .menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top__container .menu__search {
  display: flex;
  align-items: center;
  background-color: #d10b1c;
  justify-content: space-around;
  height: 47px;
  border-radius: 24px;
}
.header__top__container .menu__search__input {
  background-color: #d10b1c;
  color: white;
  border: none;
  outline: none;
  font-family: Montserrat;
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 1rem;
  text-overflow: ellipsis;
}
.header__top__container .menu__search__input::placeholder {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 400;
  text-overflow: ellipsis;
}
.header__top__container .menu__search__img {
  margin: 0 2rem 0 0;
  cursor: pointer;
}
.header__top__container .menu__item {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-weight: 500;
  flex-wrap: nowrap;
  margin: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__top__container .menu__item__img {
  /* Style for "Shape 1" */
  margin-left: 1rem;
  width: 12px;
  height: 8px;
}
.header__top__container .menu__login {
  cursor: pointer;
}
.header__bottom {
  background-color: #d10b1c;
}
.header__bottom__banner {
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: contain;
  width: 100%;
  height: 450px;
  background-image: url("images/header.png");
}

.introduce .introduce_top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.introduce .introduce_top .introduce_item {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.introduce .introduce_top .introduce_item .img {
  padding: 7.6rem 0rem 2.8rem 0rem;
}
.introduce .introduce_top .introduce_item .title {
  color: #333333;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}
.introduce .introduce_top .introduce_item .content {
  padding-top: 2rem;
  width: 100%;
  color: #333333;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 21rem;
}
.introduce .introduce_bottom {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.introduce .introduce_bottom .introduce_item {
  width: 33%;
  height: 7.7rem;
  border-radius: 4rem;
  background-color: #ef172a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}
.introduce .introduce_bottom .introduce_item .text {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3rem;
  text-transform: uppercase;
  margin-right: 2.4rem;
}
.introduce .introduce_bottom .introduce_item .img {
  width: 31px;
  height: 31px;
}
.introduce .introduce_bottom .description {
  margin-top: 2rem;
  width: 33%;
  color: #666666;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contest {
  padding: 4rem 0 6rem 0;
  background-color: #2d303b;
}
.contest .contest-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contest .contest-list-item h2 {
  height: 4rem;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.contest .contest-list-item .contest-item .contest-item-des {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.why {
  padding: 6rem 0 6rem 0;
}
.why .why-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.why .why-row .why-item {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.why .why-row .why-item .img {
  padding: 7.6rem 0rem 2.8rem 0rem;
}
.why .why-row .why-item .title {
  color: #333333;
  font-family: Montserrat;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
}
.why .why-row .why-item .content {
  padding-top: 2rem;
  width: 100%;
  color: #333333;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 21rem;
}
.why .why-title {
  margin: auto;
  text-align: center;
  width: 50%;
  color: #ef172a;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

.new {
  padding: 6rem 0 8rem 0;
  background-color: #ececec;
}
.new .new-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ef172a;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 5rem;
}
.new .new-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
}
.new .new-content .new-item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.new .new-content .new-item {
  box-sizing: border-box;
  position: relative;
}
.new .new-content .new-item .item-img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  box-sizing: border-box;
}
.new .new-content .new-item .item-des {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  bottom: 0px;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sponsor {
  padding: 0 0 6rem 0;
}
.sponsor h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #ef172a;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 6rem;
  padding-bottom: 2rem;
}
.sponsor .contest-item {
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  align-items: center;
}

.certificate {
  padding: 6rem 0 6rem 0;
  background-color: #2d303b;
}
.certificate h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
.certificate .cer-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: auto auto auto auto auto auto;
}

.suport {
  /* Style for "Rectangle" */
  height: 7rem;
  background-color: #ef172a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.suport .suport-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.5rem 0 1.5rem 0;
}
.suport .suport-container ul {
  margin: 0 auto 0 auto;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.6rem;
}
.suport .suport-container li {
  float: left;
  margin: 0 2rem 0 2rem;
  line-height: 3rem;
  cursor: pointer;
}

.footer {
  background-color: #2d303b;
}
.footer .footer-container {
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer .footer-container .footer-text {
  color: #999999;
  font-family: Montserrat;
  font-size: 1.6rem;
}
.footer .footer-container div img {
  margin-left: 1rem;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
