@mixin centerlize($direction: row, $justify: space-evenly) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

.header {
    color: white;
    &__top {
        background-color: #ef172a;
        &__container {
            height: 76px;
            min-height: 76px;
            max-height: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo-container {
                width: 300px;
            }
            .menu {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__search {
                    display: flex;
                    align-items: center;
                    background-color: #d10b1c;
                    justify-content: space-around;
                    height: 47px;
                    border-radius: 24px;
                    &__input {
                        background-color: #d10b1c;
                        color: white;
                        border: none;
                        outline: none;
                        font-family: Montserrat;
                        width: 80%;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        margin-left: 1rem;
                        text-overflow: ellipsis;
                    }
                    &__input::placeholder {
                        color: #ffffff;
                        font-family: Montserrat;
                        font-size: 1.6rem;
                        font-weight: 400;
                        text-overflow: ellipsis;
                    }

                    &__img {
                        margin: 0 2rem 0 0;
                        cursor: pointer;
                    }
                }

                &__item {
                    color: #ffffff;
                    font-family: Montserrat;
                    font-size: 1.8rem;
                    font-weight: 500;
                    flex-wrap: nowrap;
                    // min-width: fit-content;
                    margin: 0 0.5rem 0 0.5rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &__img {
                        /* Style for "Shape 1" */
                        margin-left: 1rem;
                        width: 12px;
                        height: 8px;
                    }
                }
                &__login {
                    cursor: pointer;
                }
            }
        }
    }
    &__bottom {
        // background-image: url("images/header.png");
        background-color: #d10b1c;
        &__banner {
            background-position: center center;
            background-repeat: no-repeat no-repeat;
            background-size: contain;
            width: 100%;
            height: 450px;
            background-image: url("images/header.png");
        }
    }
}

.introduce {
    .introduce_top {
        @include centerlize();
        .introduce_item {
            width: 25%;
            @include centerlize(column);
            .img {
                padding: 7.6rem 0rem 2.8rem 0rem;
            }
            .title {
                color: #333333;
                font-family: Montserrat;
                font-size: 2.4rem;
                font-weight: 700;
                text-align: center;
            }
            .content {
                padding-top: 2rem;
                width: 100%;
                color: #333333;
                font-family: Montserrat;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 3rem;
                text-align: justify;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 21rem;
            }
        }
    }
    .introduce_bottom {
        margin-top: 5rem;
        margin-bottom: 4rem;
        @include centerlize(column, center);
        .introduce_item {
            width: 33%;
            height: 7.7rem;
            border-radius: 4rem;
            background-color: #ef172a;
            @include centerlize(row, center);
            cursor: pointer;
            .text {
                color: #ffffff;
                font-family: Montserrat;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 3rem;
                text-transform: uppercase;
                margin-right: 2.4rem;
            }
            .img {
                width: 31px;
                height: 31px;
            }
        }
        .description {
            margin-top: 2rem;
            width: 33%;
            color: #666666;
            font-family: Montserrat;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            @include centerlize(column, center);
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.contest {
    padding : 4rem 0 6rem 0;
    background-color: #2d303b;
    .contest-list-item {
        @include centerlize(column, center);
        h2 {
            height: 4rem;
            color: #ffffff;
            font-family: "Montserrat";
            font-size: 3rem;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
        }

        .contest-item {
            .contest-item-img {
            }
            .contest-item-des {
                color: #ffffff;
                font-family: Montserrat;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 2.4rem;
            }
        }
    }
}

.why {
    .why-row {
        @include centerlize();
        .why-item {
            width: 25%;
            @include centerlize(column);
            .img {
                padding: 7.6rem 0rem 2.8rem 0rem;
            }
            .title {
                color: #333333;
                font-family: Montserrat;
                font-size: 2.4rem;
                font-weight: 700;
                text-align: center;
            }
            .content {
                padding-top: 2rem;
                width: 100%;
                color: #333333;
                font-family: Montserrat;
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 3rem;
                text-align: justify;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 21rem;
            }
        }
    }
    .why-title {
        margin: 4rem auto auto auto;
        text-align: center;
        width: 50%;
        color: #ef172a;
        font-family: "Montserrat";
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}
