.header {
    color: white;
    &__top {
        background-color: #ef172a;
        &__container {
            height: 76px;
            min-height: 76px;
            max-height: 76px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo-container {
                width: 300px;
            }
            .menu {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &__search {
                    display: flex;
                    align-items: center;
                    background-color: #d10b1c;
                    justify-content: space-around;
                    height: 47px;
                    border-radius: 24px;
                    &__input {
                        background-color: #d10b1c;
                        color: white;
                        border: none;
                        outline: none;
                        font-family: Montserrat;
                        width: 80%;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        margin-left: 1rem;
                        text-overflow: ellipsis;
                    }
                    &__input::placeholder {
                        color: #ffffff;
                        font-family: Montserrat;
                        font-size: 1.6rem;
                        font-weight: 400;
                        text-overflow: ellipsis;
                       
                    }

                    &__img {
                        margin: 0 2rem 0 0;
                        cursor: pointer;
                    }
                }

                &__item {
                    color: #ffffff;
                    font-family: Montserrat;
                    font-size: 1.8rem;
                    font-weight: 500;
                    flex-wrap: nowrap;
                    // min-width: fit-content;
                    margin: 0 0.5rem 0 0.5rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    &__img {
                        /* Style for "Shape 1" */
                        margin-left: 1rem;
                        width: 12px;
                        height: 8px;
                    }
                }
                &__login {
                    cursor: pointer;
                }
            }
        }
    }
    &__bottom {
        // background-image: url("images/header.png");
        background-color: #d10b1c;
        &__banner {
            background-position: center center;
            background-repeat: no-repeat no-repeat;
            background-size: contain;
            width: 100%;
            height: 450px;
            background-image: url("images/header.png");
        }
    }
}
